body{
	background-color: rgba(2,70,250,.6);
}
canvas{
			position:absolute;
			top:20px;
			left:50%;margin-left:-200px;
			display: block;
		}
canvas:nth-of-type(4){
	animation:'rotating' 2s infinite;
	-webkit-animation:'rotating' 2s infinite;
	transform-origin:center center;
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-o-transform-origin:center center;
	-ms-transform-origin:center center;
}
@keyframes rotating{
	0%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
	50%{
		transform:rotate(7deg);
		-ms-transform:rotate(7deg); 	
		-moz-transform:rotate(7deg); 
		-webkit-transform:rotate(7deg); 
		-o-transform:rotate(7deg);
	}
	100%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
}
@-webkit-keyframes rotating{
	0%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
	50%{
		transform:rotate(7deg);
		-ms-transform:rotate(7deg); 	
		-moz-transform:rotate(7deg); 
		-webkit-transform:rotate(7deg); 
		-o-transform:rotate(7deg);
	}
	100%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
}
@-moz-keyframes rotating{
	0%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
	50%{
		transform:rotate(7deg);
		-ms-transform:rotate(7deg); 	
		-moz-transform:rotate(7deg); 
		-webkit-transform:rotate(7deg); 
		-o-transform:rotate(7deg);
	}
	100%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
}
@-ms-keyframes rotating{
	0%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
	50%{
		transform:rotate(7deg);
		-ms-transform:rotate(7deg); 	
		-moz-transform:rotate(7deg); 
		-webkit-transform:rotate(7deg); 
		-o-transform:rotate(7deg);
	}
	100%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
}
@-o-keyframes rotating{
	0%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
	50%{
		transform:rotate(7deg);
		-ms-transform:rotate(7deg); 	
		-moz-transform:rotate(7deg); 
		-webkit-transform:rotate(7deg); 
		-o-transform:rotate(7deg);
	}
	100%{
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); 	
		-moz-transform:rotate(-7deg); 
		-webkit-transform:rotate(-7deg); 
		-o-transform:rotate(-7deg);
	}
}