*{
	margin:0;padding: 0;
	box-sizing:border-box;
}
body{
	width: 1000px;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
li{list-style: none;}
#demo > div{
	display: inline-block;height: 600px;
	vertical-align: top;
}
#demo > div:nth-of-type(1){
	width: 400px;
	border-right: 2px solid #f60;
	padding-top: 20px;
}
#demo > div:nth-of-type(1) > ul > li{
	height: 30px;line-height: 30px;
	font-size: 16px;
}
#demo > div:nth-of-type(1) input[type="text"]{
	height: 30px;outline: none;
	width: 200px;line-height: 30px;
	border-radius: 4px;border: none;
	color: white;padding-left:10px; 
	background-color: rgba(0,0,0,.3);margin-top: 20px;
}
#demo > div:nth-of-type(1) > label{
	display: inline-block;
	width: 100px;
}
#demo > div:nth-of-type(1) input[type="button"]{
	width: 200px;height: 30px;outline: none;border:none;
	background-color: rgba(255,102,0,.56);font-family: "Microsoft Yahei";
	line-height: 30px;text-align: center;color: white;
	margin: 20px 100px;border-radius: 4px;
}
#demo > div:nth-of-type(1) ul li> span{
	display: inline-block;
	vertical-align: middle;
	width: 20px;height: 20px;
	margin-right: 10px;
}
#demo > div:nth-of-type(2){
	width: 600px;padding: 100px;
}