<!DOCTYPE html>
<html>
 	<head>
  		<title> canvas绘制饼状图 </title>
  		<meta charset="utf-8">      
	</head>
  <link rel="stylesheet" type="text/css" href="canvas.css">
  <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
	<body>
    <div id="demo">
    	<div class="left">
    		<label for='partName'>name:</label><input type='text' id='partName' v-model='add.name' v-el:name><br/>
    		<label for='percent'>百分比：</label><input type='text' id='percent' v-model="add.percent" v-bind:placeholder='add.placeholder' v-el:percent/><br/>
    		<input type='button' value='添加' v-on:click.stop="Add()"/>
    		<ul>
    			<li v-for='item in input'><span v-bind:style="{backgroundColor:item.color}"></span>{{item.name}}</li>
    		</ul>
	    </div><div class="right">
	    	<canvas  width="400px" height='400px'></canvas>
	    </div>
      <div class='tips' v-bind:class='{show:tips.show}'>
        <p>tips:</p>
        <p>{{{tips.text}}}</p>
      </div>
    </div>
    
    <script type="text/javascript" src = "canvas.js"></script>
    
</html>
